.about-section {
    background-color: #2B3253;
    margin: 20vh 0 10vh 0;
}

.title-about {
    font-family: 'DK Lemon Yellow Sun', sans-serif;
    text-transform: uppercase;
    color: #A0D6D7;
}

.desc-about {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.faq-icon {
    max-height: 80px;
}

.custom-underline {
    border-bottom: 2px solid #000;
    display: inline-block;
}

li {
    list-style-position: inside;
    font-family: 'Poppins', sans-serif;
    color: #2B3253;
}

.faq-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'DK Lemon Yellow Sun', sans-serif;
    color: #2B3253;
}

.form-control {
    border-color: #000000;
}

.line-blue {
    background: #2B3253;
    height: 3px;
}

.btn-custom {
    background-color: #2B3253;
    color: white;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.btn-custom:hover {
    color: #2B3253;
    background-color: white;
}