@import url('https://fonts.cdnfonts.com/css/poppins');

/*START NGATUR SECTION HOME ABOUT*/
.home-about-container {
    margin: 40px;
    border: 10px solid #A0D6D7;   
    display: flex;
}

.btn-custom-hero, .btn-custom-about {
    text-decoration: none;
    text-align: center;
    background-color: #2B3253;
    color: white;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 100px;
}

.btn-custom-hero:hover, .btn-custom-about:hover {
    background-color: #FFFFFF;
    color: #2B3253;
}

.img-about {
    width: 30em;
    padding: 50px;
}

.font-about {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #2B3253;
    width: 80%;
    margin-bottom: 150px;
}

.section-home {
    margin: 60px 50px;
}

.section-title-container {
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-title {
    text-transform: uppercase;
    font-family: 'DK Lemon Yellow Sun', sans-serif;
}

.underlined {
    text-decoration: underline;
}

/*END NGATUR SECTION HOME ABOUT*/

/*START NGATUR SECTION HOME ILLUSTRATION*/

.section-illust {
    background-color: #2B3253;
    margin-top: 50px;
    padding-bottom: 0.01vh;
    margin-bottom: 30px;
}

.section-illustration {
    margin-bottom: 3vh;
}

.current-illustration-img {
    max-width: 50vh;
    width: 60vh;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;       
}

.not-active {
    filter: opacity(50%);
}

.illustration-info {
    margin-top: 70px;
}

.btn-custom-illust {
    text-decoration: none;
    text-align: center;
    background-color: rgba(255,0,0,0);
    border:#A0D6D7 2px solid;
    color: #A0D6D7;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 20px;
}

.btn-custom-illust:hover {
    background-color: #A0D6D7;
    border: 0px;
    color: #2B3253;
}

.illustration-title {
    color: #A0D6D7;
    font-family: 'Poppins', sans-serif;   
    font-weight:bolder;
    font-size: 7vh;   
}

.illustration-category {
    font-family: 'Poppins', sans-serif;   
    color: #FFFFFF;
    font-style: italic;
    font-size: 20px;
}

.illustration-description {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 44vh;
    color: #FFFFFF;
    font-size: 21px;
}

.illust-slider {
    width: 100%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.maintaner-height {
    height: 90vh;
}

.illust-container {
    display: flex;
    max-height: 30vh;
}

/*CUSTOM SWIPER NAV*/
.swiper-illustration .swiper-button-next, 
.swiper-illustration .swiper-button-prev {
    color: #000000;
}
  
.swiper-illustration .swiper-button-next::after, 
.swiper-illustration .swiper-button-prev::after {
    color: #000000;
}


@media screen and (max-width: 1024px) {
    .img-about {
        width: 20em;
        padding: 40px;
        margin-right: 10em;
    }

    .btn-custom-about {
        width: 60%;
    }

    .font-about {
        width: 99%;
        font-size: 1.1em;   
        margin-bottom: 110px;
    }

    .section-home {
        margin: 10px 20px;
    }
}

@media screen and (max-width: 564px) {
    .current-illustration-img {
        max-width: 40vh;
    }

    .illust-slider {
        width: 90%;
    }

    .illust-container {
        max-height: 24vh;
    }

    .maintaner-height {
        height: 70vh;
    }

    .img-about {
        width: 12em;   
        padding: 15px;
    }

    .font-about {
        width: 70%;
        margin-bottom: 10px;
    }

    .welcome-title {
        margin-top: 20px;
    }

    .btn-custom-about {
        margin-bottom: 20px;
        margin-top: 200px;
    }

    .home-about-container {
        border: 6px solid #A0D6D7;   
        margin: 20px;   
    }
}

@media screen and (max-width: 364px){

    .font-about {
        width: 70%;
        margin-bottom: 10px;
    }

    .welcome-title {
        margin-top: 20px;
    }

    .btn-custom-about {
        margin-bottom: 20px;
    }   
}
