.nav-href {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-toggler {
    border: none;
    color: #A0D6D7;
}

.nav-href:hover {
    color: #3F74AB;
}

.navbar {
    background-color: #A0D6D7 ;
    top: 0;
    margin-bottom: 1000px;
    position: absolute;
    width: 100%;
    z-index: 3 ;
}

.icon-nav {
    width: 300px;
}

@media screen and (max-width: 1020px) {
    .icon-nav {
        width: 210px
    }
}

@media screen and (max-width: 768px) {
    .icon-nav {
        width: 180px
    }
}