.title {
    font-size: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.notfound {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #A0D6D7;
}