/* START NGATUR SECTION TITLE */
.section-title-container {
    margin-top: 20vh;
    margin-bottom: 2vh;
}

.portfolio-title {
    font-family: 'DK Lemon Yellow Sun', sans-serif;
    font-weight: 500;    
}

.ft-dk-categories {
    font-family: 'DK Lemon Yellow Sun', sans-serif;
    color: #000000;
}

.ft-dk-categories:hover {
    color: #3F74AB;
}

.active-category {
    color: #3F74AB;
}
/* END NGATUR SECTION TITLE */

/* START NGATUR MANY IMAGES */
.portfolio-img {
    cursor:pointer;
}

@media screen and (max-width: 864px ){
    .section-title-container {
        margin-top: 10vh;
    }
}