/* START NGATUR SECTION TITLE */
.portfolio-title-container {
    margin-top: 20vh;
    margin-bottom: 2vh;
}

.portfolio-title {
    font-family: 'DK Lemon Yellow Sun', sans-serif;
    font-weight: 500;    
}

.ft-dk-categories {
    font-family: 'DK Lemon Yellow Sun', sans-serif;
    color: #000000;
}

.ft-dk-categories:hover {
    color: #3F74AB;
}

.active-category {
    color: #3F74AB;
}
/* END NGATUR SECTION TITLE */

/* START NGATUR MANY IMAGES */
.portfolio-img {
    cursor:pointer;
}

.grid-images {
    height: 250vh;
}

.blur-load::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.blur-load {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    background-size: cover;
    background-position: center;
} 

.blur-load.loaded > img {
    opacity: 1;
}

.blur-load > img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

/*NGATUR MODAL*/
.modal-content {
    background-color: rgba(0, 0, 0, 0); 
    border: none; 
}

.modal-backdrop {
    background-color: rgba(0,0,0, 1) !important;
    opacity: 0.75 !important;
}

.modal-portfolio-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #A0D6D7;
}

.modal-portfolio-category, 
.modal-portfolio-description {
    color: #FFFFFF;
}

.btn-white {
    color: #FFFFFF !important;
}

@media screen and (max-width: 864px ){
    .portfolio-title-container {
        margin-top: 10vh;
    }
}